html, body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	position: relative;
	padding: 00px 0;
}

.banner-section {
	background: url("../img/top-banner.jpg") no-repeat 0 0/cover;
	position: relative;
	padding: 50px 0;
}

.main-heading {
	position: relative;
	padding: 50px 20px 10px 20px;
}

.main-heading h2 {
	position: relative;
	color: #b9e759;
	font-size: 40px;
	font-weight: light;
	line-height: 50px;
}

.p1 {
	padding: 10px;
}
.p1-y {
	padding-top: 10px;
	padding-bottom: 10px;
}
.clear {
	clear: both;
}

.banner-description {
	position: relative;
	width: 50%;
	padding: 0 20px;
}

.banner-description p {
	position: relative;
	color: #fff;
	font-size: 15px;
	line-height: 24px;
}

.big-button {
	background: #fb9f28;
	width: 200px;
	text-align: center;
	margin: 0 20px;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;

}

.big-button a {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.big-button a span {
	font-size: 10px;
}

.what-we-offer {
	position: relative;
	padding: 40px 0;
	text-align: center;
}

.main-title {
	position: relative;
	padding: 20px 0 40px 0;
	text-align: center;
}

.main-title h3 {
	margin: 0;
	color: #2e7f40;
	font-size: 32px;
}

.main-title-clients {
	padding: 20px 0 40px 0;
}

.main-title-clients h3 {
	margin: 0;
    color: #2e7f40;
    font-size: 30px;
	text-align: center;
}

/*Powered by Manaknight Inc.*/
.offer-tab {
	width: 70%;
	margin: auto;
}

.offer-title h3 {
	font-size: 21px;
	line-height: 28px;
}

.step1-section {
	background-color: #cccccc;
	padding: 0;
}

.step1text {
	position: relative;
	text-align: center;
	padding: 30px 0 140px 0;
	width: 90%;
	margin: auto;
}

.steptitle {
	margin: 10px 0 25px 0;
}

.steptitle h4 {
	margin: 0;
	color: #2e7f40;
	font-size: 24px;
}

.stepsubtitle p {
	font-size: 21px;
	font-weight: 600;
}

.stepdescription {
	position: relative;
	width: 65%;
	margin: auto;
	padding: 15px 0;
}

.stepdescription p {
	font-size: 15px;
}

.step2-section {
	position: relative;
	background: url("../img/step2banner.jpg");
	background-position: 50% 50%;
}

.step2text {
	position: relative;
	text-align: center;
	padding: 140px 0;
	width: 70%;
	margin: auto;
}

.step2text .big-button {
	margin: 30px auto 0;
}

.clients-section {
	position: relative;
	padding: 30px 0;
	background: #f7f3ee;
	border-bottom: 1px solid #babdbe;
}

.full-width {
	width: 100%;
}

.clients {
	position: relative;
	width: 80%;
	margin: auto;
}

ul.client-list {
	position: relative;
	padding: 0;
	list-style: none;
}

ul.client-list li {
	position: relative;
	list-style: none;
	float: left;
	width: 25%;
	text-align: center;
}

.case-uses-section {
	padding: 50px 0;
}

.case-uses-section .main-title {
	padding: 20px 0 10px 0;
}

.clients-section .main-title {
	padding: 20px 0 10px 0;
}

.main-subtitle {
	position: relative;
	text-align: center;
	color: #988a8a;
}

.main-subtitle p {
	font-size: 18px;
}

.case-text-section {
	padding: 80px 0;
	width: 100%;
}

.case-title h3 {
	font-size: 24px;
	color: #205d2e;
}

.case-description p {
	color: #988a8a;
	font-size: 15px;
}

.case-image {
	text-align: center;
}

.testimonial-section {
	position: relative;
	padding: 40px 0;
	background: url("../img/testimony-witness.png");
	height: 600px;
}

.testimonial-section .main-title {
	padding: 20px 0 10px 0;
}

.testimonial-section .main-title h3 {
	color: #fff;
}

.testimonial-section .main-subtitle {
	color: #fff;
}

.testimonial-box {
	position: relative;
	background: #fff;
	width: 90%;
	margin: auto;
	padding: 20px 30px;
	text-align: center;
	min-height: 600px;
}

.testimonial-content p {
	font-size: 12px;
	font-style: italic;
	line-height: 22px;
}

.test-person-name {
	position: relative;
	padding: 30px 0 0 0;
}

.test-person-name p {
	position: relative;
	font-size: 15px;
	font-style: italic;
	line-height: 22px;
	color: #3b6c45;
	margin: 0;
}

.test-person-position h4 {
	position: relative;
	margin: 3px;
	text-transform: uppercase;
	color: #7c7272;
	font-size: 12px;
	font-weight: 600;
}

.test-person-company p {
	margin: 0;
	font-weight: 600;
	color: #403b3b;
}

.testimonial-bottom-section {
	position: relative;
	padding: 210px 0 60px 0;
	background-image: url("../img/testimony-bot.png");
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	background-position: center bottom;
    background-repeat: no-repeat;
}

.are-you-ready {
	position: relative;
	color: #fff;
}

.are-you-ready h3 {
	font-size: 40px;
	padding-bottom: 20px;
}

.testimonial-bottom-section .big-button {
	margin: auto;
}

.testimonial-bottom-section .big-button a {
	color: #272020;
	font-size: 15px;
	font-weight: 600;
}

footer {
	position: relative;
	padding: 30px;
	background: #2a2b27;
	text-align: center;
	color: #fff;
}

.copyright-text p {
	margin: 0;
	font-size: 13px;
}

.asd {
	position: relative;
	top: 30px;
	z-index: 99;
}






/************************media queries*****************************/
@media (min-width: 1240px){
	.step2-section{
		background-size:cover;
		background-position: 50% 0%;
	}
	.testimonial-bottom-section{
		background-size: cover;
	}
}
@media (max-width: 990px) {
	.testimonial-box {
		min-height: 0px;
	}
	.testimonial-section {
		height: auto;
	}
	.testimonial-bottom-section {
		padding: 100px 0 60px 0;
	}
	.step2-section {
		background-position: 82% 50%;
	}

	.step1text {
		padding: 0px 0 30px 0;
		width: 90%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
.case-text-section {
	text-align: center;
	width: 100%;
	padding: 25px 0px;
}
.case-image img {
	width: 100% !important;
}
.step2-section {
	background-position: right bottom;
}
.step1-section {
	background-color: #cccccc;
}

}

@media (min-width: 320px) and (max-width: 480px) {
.main-title-clients {
	padding-top: 0px;
	padding-bottom: 20px;
}
.main-title-clients h3 {
	margin-top: 0px;
	font-size: 24px;
}

.case-text-section {
	text-align: center;
}
.banner-section {
	background: url("../img/top-banner.jpg") no-repeat 0 0/cover;
	position: relative;
	padding: 10px 0 40px;
}

.main-heading h2 {
	font-size: 30px;
	line-height: 40px;
	margin: 0;
}

.banner-description {
	width: 100%;
}

.main-title {
	padding: 20px 0 20px 0;
}

.step1-section {
	background-color: #cccccc;
}

.step1text {
	padding: 30px 0 30px 0;
	width: 100%;
}

.step2-section {
	background-position: right top;
}

.stepdescription {
	width: 100%;
	padding: 15px;
}

.step2text {
	padding: 50px 0;
	width: 100%;
}

ul.client-list li {
	width: 100%;
}

.case-text-section {
	padding: 30px 0;
	width: 100%;
}

.case-image img {
	width: 100% !important;
}

.testimonial-box {
	width: 90%;
	padding: 20px 30px;
	margin-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
}

.are-you-ready h3 {
	font-size: 30px;
	padding-bottom: 20px;
}

.client-list li img {
	width: 100%;
}
}